.env
__pycache__/
*.py[cod]
temporary_uploads/
.DS_Store
instance/*.sqlite3
.pytest_cache/
output/
.playwright-cli/
.vscode/
.obsidian/
bike+sharing+dataset
cs50.venv
md files/
MISSION.md
NOTES.md
regression_test.csv
test.ipynb
.pytest_cache/
*.ipynb
